# Классификация (1-ая часть)

### Постановка задачи: 
#### Обучающая выборка разбита на два класса: положительный и отрицательный. Данные для обучения описываются положительным и отрицательным контекстами. Необходимо классифицировать новые объекты либо в положительный, либо в отрицательный класс, либо же отказаться от классификации.

In [2]:
import numpy as np
import pandas as pd


def f(s, graph):
    global ans_graph
    global repeat
    if s in repeat:
        ans_graph = 0
        return
    for g in graph:
        if g[0] == s:
            f(g[1], graph)
    return

#### Введем данные для положительного класса

In [ ]:
n_plus, m_plus = map(int, input().split())
mas_plus = np.empty((n_plus, m_plus), dtype=int)
for i in range(n_plus):
    mas_plus[i] = np.array(list(map(int, input().split())))

#### И для отрицательного класса

In [ ]:
n_minus, m_minus = map(int, input().split())
mas_minus = np.empty((n_minus, m_minus), dtype=int)
for i in range(n_minus):
    mas_minus[i] = np.array(list(map(int, input().split())))

#### Теперь построим решетку формальных понятий для положительного класса. Для этого пройдемся по всем возможным объединениям объектов обучающей выборки и построим для них формальные содержания. Из двух формальных объемов с двумя одинаковыми формальными содержаниями выбирается тот, у кого объем больше. После этого строится граф. Для каждой формального понятия отыскиваются такие другие понятия, что объем изначального является подмножеством объемов отыскиваемых. Далее проверяем, что между двумя вершинами уже нет пути, и соединяем их

In [ ]:
lattice_plus = list([(np.array([], dtype=int), np.array([1 for i in range(m_plus)]))])
graph_plus = []
hypotheses_plus = np.empty((0, m_plus))
ans_graph = 0
current = 1


for i in range(1, 1 << n_plus):
    vector = np.ones(m_plus, dtype=int)
    arr = np.array([], dtype=int)
    mis = np.array([], dtype=int)
    y = 1
    for j in range(n_plus):
        if i % (2*y) // y:
            vector = np.bitwise_and(vector, mas_plus[j])
            arr = np.append(arr, j)
        y *= 2
    for j in range(n_plus):
        if (np.bitwise_and(vector, mas_plus[j]) == vector).all():
            mis = np.append(mis, j)
    y = 0
    if np.array_equal(mis, arr):
        repeat = set()
        for j in range(len(lattice_plus) - 1, -1, -1):
            if set(lattice_plus[j][0]) <= set(arr):
                ans_graph = 1
                f(j, graph_plus)
                yy = ans_graph
                if yy:
                    graph_plus.append((j, current))
                    repeat.add(j)
                    y = 1
        if y:
            lattice_plus.append((arr, vector))
            current += 1

#### И также построим решетку для отрицательного класса

In [ ]:
lattice_minus = list([(np.array([], dtype=int), np.array([1 for i in range(m_minus)]))])
graph_minus = []
hypotheses_minus = np.empty((0, m_minus))
ans_graph = 0
current = 1


for i in range(1, 1 << n_minus):
    vector = np.ones(m_minus, dtype=int)
    arr = np.array([], dtype=int)
    mis = np.array([], dtype=int)
    y = 1
    for j in range(n_minus):
        if i % (2*y) // y:
            vector = np.bitwise_and(vector, mas_minus[j])
            arr = np.append(arr, j)
        y *= 2
    for j in range(n_minus):
        if (np.bitwise_and(vector, mas_minus[j]) == vector).all():
            mis = np.append(mis, j)
    y = 0
    if np.array_equal(mis, arr):
        repeat = set()
        for j in range(len(lattice_minus) - 1, -1, -1):
            if set(lattice_minus[j][0]) <= set(arr):
                ans_graph = 1
                f(j, graph_minus)
                yy = ans_graph
                if yy:
                    graph_minus.append((j, current))
                    repeat.add(j)
                    y = 1
        if y:
            lattice_minus.append((arr, vector))
            current += 1

#### Теперь сформируем гипотезы. Для этого сначала соберем все содержания формальных понятий и исключим оттуда все фальсифицированные гипотезы, то есть те, которые являются подмножествами какого-то содержания понятия другого класса. Затем оставим лишь те гипотезы, которые не включают в себя какие-то другие гипотезы, то есть выберем минимальные гипотезы

In [ ]:
for_delete = set()
for i in lattice_plus:
    hypotheses_plus = np.vstack((hypotheses_plus, i[1]))
for i in range(len(hypotheses_plus)):
    for j in lattice_minus[1:]:
        if (hypotheses_plus[i] <= j[1]).all():
            for_delete.add(i)
for_delete = list(for_delete)
for i in for_delete[::-1]:
    hypotheses_plus = np.delete(hypotheses_plus, i, 0)
for_delete = set()
for i in range(len(hypotheses_plus)):
    for j in range(len(hypotheses_plus)):
        if i != j and (hypotheses_plus[i] >= hypotheses_plus[j]).all():
            for_delete.add(i)
for_delete = list(for_delete)
for i in for_delete[::-1]:
    hypotheses_plus = np.delete(hypotheses_plus, i, 0)
    

for_delete = set()
for i in lattice_minus:
    hypotheses_minus = np.vstack((hypotheses_minus, i[1]))
for i in range(len(hypotheses_minus)):
    for j in lattice_plus[1:]:
        if (hypotheses_minus[i] <= j[1]).all():
            for_delete.add(i)
for_delete = list(for_delete)
for i in for_delete[::-1]:
    hypotheses_minus = np.delete(hypotheses_minus, i, 0)
for_delete = set()
for i in range(len(hypotheses_minus)):
    for j in range(len(hypotheses_minus)):
        if i != j and (hypotheses_minus[i] >= hypotheses_minus[j]).all():
            for_delete.add(i)
for_delete = list(for_delete)
for i in for_delete[::-1]:
    hypotheses_minus = np.delete(hypotheses_minus, i, 0)

#### Теперь мы можем классифицировать новые объекты

In [ ]:
num = int(input())
for i in range(num):
    obj = np.array(list(map(int, input().split())))
    q = 0
    for j in hypotheses_plus:
        if (j <= obj).all():
            q = 1
    for j in hypotheses_minus:
        if (j <= obj).all() and q != 1:
            q = -1
        elif (j <= obj).all():
            q = 2
    if q == 1:
        print("PLUS")
    elif q == -1:
        print("MINUS")
    else:
        print("DENIED")

#### Пример: Диагностика COVID-19
#### Даны два списка пациентов с описанием симптомов каждого. У пациентов первого списка подтверждено заболевание короновирусной инфекцией, у пациентов из второго списка подозрения на короновирус не подтвердились. Цель: выявить те симптомы, которые сильнее других указывают на заболевание короновирусом и поставить диагноз новым пациентам
#### Первая таблица - список пациентов с подтвердившимся диагнозом, вторая таблица - список пациентов, чей диагноз не подтвердился

In [3]:
example1 = pd.DataFrame({'повышение температуры': ['+', '+', '+', '+', '+', '+', '+', '+', '+', '+', '-', '+'], 'боль в горле': ['+', '+', '-', '+', '-', '+', '+', '+', '+', '-', '+', '+'], 'головная боль': ['-', '-', '+', '+', '+', '-', '+', '+', '-', '-', '-', '+'], 'кашель': ['+', '-', '+', '+', '+', '+', '+', '+', '+', '+', '+', '+'], 'покраснение глаз': ['+', '-', '-', '-', '-', '+', '+', '+', '-', '-', '-', '-'], 'сыпь на коже': ['-', '+', '-', '-', '-', '-', '+', '+', '-', '-', '-', '-'], 'утомляемость': ['+', '+', '+', '+', '-', '-', '+', '+', '+', '+', '+', '-']})
example1 = example1.style.set_properties(**{'font-size': '16pt'})
example1

In [4]:
example2 = pd.DataFrame({'повышение температуры': ['+', '-', '-', '-', '+', '+', '+', '-', '-'], 'боль в горле': ['-', '-', '-', '-', '+', '-', '-', '-', '+'], 'головная боль': ['-', '+', '-', '-', '-', '-', '-', '+', '-'], 'кашель': ['+', '+', '-', '-', '+', '-', '-', '-', '-'], 'покраснение глаз': ['-', '-', '-', '+', '-', '+', '-', '-', '-'], 'сыпь на коже': ['-', '-', '-', '+', '-', '-', '-', '-', '-'], 'утомляемость': ['-', '-', '+', '-', '-', '-', '-', '-', '-']})
example2 = example2.style.set_properties(**{'font-size': '16pt'})
example2

#### Построив две решетки и сформировав гипотезы, получаем 5 положительных гипотез:
##### повышение температуры И боль в горле И кашель И покраснение глаз
##### повышение температуры И утомляемость
##### боль в горле И утомляемость
##### кашель И утомляемость
##### повышене температуры И головная боль И кашель И утомляемость
#### Теперь попробуем поставить диагноз новым пациентам исходя из данных гипотез:

In [5]:
example3 = pd.DataFrame({'повышение температуры': ['+', '+', '+', '-', '+', '+', '-', '-'], 'боль в горле': ['+', '+', '+', '-', '-', '+', '-', '-'], 'головная боль': ['+', '-', '-', '+', '-', '+', '-', '-'], 'кашель': ['+', '-', '-', '+', '-', '+', '-', '+'], 'покраснение глаз': ['-', '+', '-', '-', '-', '+', '-', '+'], 'сыпь на коже': ['-', '+', '-', '-', '-', '-', '+', '-'], 'утомляемость': ['-', '-', '+', '+', '-', '-', '+', '+'], 'ДИАГНОЗ': ['БОЛЕН', 'доп.обследование', 'БОЛЕН', 'БОЛЕН', 'доп.обследование', 'БОЛЕН', 'доп.обследование', 'БОЛЕН']})
example3 = example3.style.set_properties(**{'font-size': '16pt'})
example3

#### Заметим, что в нашем случае все признаки являются бинарными, и алгоритм объединяет объекты по наличию каких-то общих признаков. Однако заметим, что объекты можно объединить не только на основании того, что они обладают общими признаками, а наоборот, на основании того, что они НЕ обладают какими-то общими признаками. Тогда усовершенствуем алгоритм, увеличив вдвое количество признаков: теперь каждый изначальный признак будет порождать два признака в алгоритме: первый признак - это обладание объектами этим признаком, второй признак - это отсутствие этого признака у объектов.

In [ ]:
def f(s, graph):
    global ans_graph
    global repeat
    if s in repeat:
        ans_graph = 0
        return
    for g in graph:
        if g[0] == s:
            f(g[1], graph)
    return


n_plus, m_plus = map(int, input().split())
mas_plus = np.empty((n_plus, 2 * m_plus), dtype=int)
for i in range(n_plus):
    tmp = np.array(list(map(int, input().split())))
    for j in range(m_plus):
        mas_plus[i][2 * j] = tmp[j]
        mas_plus[i][2 * j + 1] = 1 - tmp[j]


lattice_plus = list([(np.array([], dtype=int), np.array([1 for i in range(2 * m_plus)]))])
graph_plus = []
hypotheses_plus = np.empty((0, 2 * m_plus))
ans_graph = 0
current = 1


for i in range(1, 1 << n_plus):
    vector = np.ones(2 * m_plus, dtype=int)
    arr = np.array([], dtype=int)
    mis = np.array([], dtype=int)
    y = 1
    for j in range(n_plus):
        if i % (2*y) // y:
            vector = np.bitwise_and(vector, mas_plus[j])
            arr = np.append(arr, j)
        y *= 2
    for j in range(n_plus):
        if (np.bitwise_and(vector, mas_plus[j]) == vector).all():
            mis = np.append(mis, j)
    y = 0
    if np.array_equal(mis, arr):
        repeat = set()
        for j in range(len(lattice_plus) - 1, -1, -1):
            if set(lattice_plus[j][0]) <= set(arr):
                ans_graph = 1
                f(j, graph_plus)
                yy = ans_graph
                if yy:
                    graph_plus.append((j, current))
                    repeat.add(j)
                    y = 1
        if y:
            lattice_plus.append((arr, vector))
            current += 1


n_minus, m_minus = map(int, input().split())
mas_minus = np.empty((n_minus, 2 * m_minus), dtype=int)
for i in range(n_minus):
    tmp = np.array(list(map(int, input().split())))
    for j in range(m_minus):
        mas_minus[i][2 * j] = tmp[j]
        mas_minus[i][2 * j + 1] = 1 - tmp[j]


lattice_minus = list([(np.array([], dtype=int), np.array([1 for i in range(2 * m_minus)]))])
graph_minus = []
hypotheses_minus = np.empty((0, 2 * m_minus))
ans_graph = 0
current = 1


for i in range(1, 1 << n_minus):
    vector = np.ones(2 * m_minus, dtype=int)
    arr = np.array([], dtype=int)
    mis = np.array([], dtype=int)
    y = 1
    for j in range(n_minus):
        if i % (2*y) // y:
            vector = np.bitwise_and(vector, mas_minus[j])
            arr = np.append(arr, j)
        y *= 2
    for j in range(n_minus):
        if (np.bitwise_and(vector, mas_minus[j]) == vector).all():
            mis = np.append(mis, j)
    y = 0
    if np.array_equal(mis, arr):
        repeat = set()
        for j in range(len(lattice_minus) - 1, -1, -1):
            if set(lattice_minus[j][0]) <= set(arr):
                ans_graph = 1
                f(j, graph_minus)
                yy = ans_graph
                if yy:
                    graph_minus.append((j, current))
                    repeat.add(j)
                    y = 1
        if y:
            lattice_minus.append((arr, vector))
            current += 1


for_delete = set()
for i in lattice_plus[1:]:
    hypotheses_plus = np.vstack((hypotheses_plus, i[1]))
for i in range(len(hypotheses_plus)):
    for j in lattice_minus[1:]:
        if (hypotheses_plus[i] <= j[1]).all():
            for_delete.add(i)
for_delete = sorted(list(for_delete))
for i in for_delete[::-1]:
    hypotheses_plus = np.delete(hypotheses_plus, i, 0)
for_delete = set()
for i in range(len(hypotheses_plus)):
    for j in range(len(hypotheses_plus)):
        if i != j and (hypotheses_plus[i] >= hypotheses_plus[j]).all():
            for_delete.add(i)
for_delete = sorted(list(for_delete))
for i in for_delete[::-1]:
    hypotheses_plus = np.delete(hypotheses_plus, i, 0)


for_delete = set()
for i in lattice_minus[1:]:
    hypotheses_minus = np.vstack((hypotheses_minus, i[1]))
for i in range(len(hypotheses_minus)):
    for j in lattice_plus[1:]:
        if (hypotheses_minus[i] <= j[1]).all():
            for_delete.add(i)
for_delete = sorted(list(for_delete))
for i in for_delete[::-1]:
    hypotheses_minus = np.delete(hypotheses_minus, i, 0)
for_delete = set()
for i in range(len(hypotheses_minus)):
    for j in range(len(hypotheses_minus)):
        if i != j and (hypotheses_minus[i] >= hypotheses_minus[j]).all():
            for_delete.add(i)
for_delete = sorted(list(for_delete))
for i in for_delete[::-1]:
    hypotheses_minus = np.delete(hypotheses_minus, i, 0)


num = int(input())
for i in range(num):
    obj = np.empty((2 * m_plus), dtype=int)
    tmp = np.array(list(map(int, input().split())))
    for j in range(m_plus):
        obj[2 * j] = tmp[j]
        obj[2 * j + 1] = 1 - tmp[j]
    q = 0
    for j in hypotheses_plus:
        if (j <= obj).all():
            q = 1
    for j in hypotheses_minus:
        if (j <= obj).all() and q != 1:
            q = -1
        elif (j <= obj).all():
            q = 2
    if q == 1:
        print("PLUS")
    elif q == -1:
        print("MINUS")
    else:
        print("DENIED")

#### Теперь для каждого объекта его вектор признаков будет наполовину состоять из единиц и наполовину из нулей. Это позволяет сформировать полноценные гипотезы для обоих классов, и, следовательно, данный алгоритм можно применять уже к бОльшему количеству задач. Мы рассматривали пример, где гипотезы формируются только у одного класса, поскольку у второго класса гипотез фактически нет. Рассмотрим пример, где гипотезы есть у обоих классов

### Пример: Отзывы на фильм
#### Даны два списка отзывов на фильм и некоторые ключевые слова. Про каждый отзыв известно, включает он в себя ключевые слова или нет. Отзывы из первого списка классифицируются как положительные, а отзывы из второго - как отрицательные. Необходимо выявить, какие слова указывают на положительные или отрицательный отзыв и классифицировать новые отызвы
#### Первая таблица - положительные отзывы, вторая - отрицательные

In [6]:
example7 = pd.DataFrame({'доволен': ['+', '+', '+', '-', '-', '+', '+', '+', '+', '+', '-', '+'], 'разочарован': ['-', '-', '-', '-', '-', '-', '-', '+', '-', '+', '-', '-'], 'рекомендую': ['+', '-', '+', '-', '+', '-', '-', '-', '+', '+', '+', '+'], 'тратить': ['-', '-', '-', '-', '-', '-', '-', '-', '+', '-', '-', '-'], 'советую': ['+', '+', '+', '+', '+', '-', '+', '+', '+', '+', '+', '+'], 'отзыв': ['-', '+', '+', '+', '-', '-', '-', '-', '-', '+', '-', '+'], 'кинофестиваль': ['+', '-', '+', '-', '+', '+', '-', '-', '-', '+', '+', '-'], 'кинокритик': ['+', '+', '-', '-', '+', '+', '-', '+', '-', '+', '-', '+']})
example7 = example7.style.set_properties(**{'font-size': '16pt'})
example7

In [7]:
example8 = pd.DataFrame({'доволен': ['-', '-', '-', '-', '-', '-', '+', '+', '-', '-', '-', '-'], 'разочарован': ['+', '+', '+', '-', '+', '+', '+', '+', '+', '-', '+', '+'], 'рекомендую': ['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '+'], 'тратить': ['+', '+', '+', '+', '-', '-', '+', '+', '-', '+', '+', '+'], 'советую': ['-', '-', '-', '-', '-', '-', '-', '-', '+', '-', '+', '-'], 'отзыв': ['-', '-', '-', '-', '-', '-', '+', '-', '-', '-', '-', '-'], 'кинофестиваль': ['-', '-', '+', '-', '-', '+', '-', '+', '-', '+', '+', '-'], 'кинокритик': ['-', '+', '-', '-', '+', '+', '-', '+', '-', '-', '+', '+']})
example8 = example8.style.set_properties(**{'font-size': '16pt'})
example8

#### Построив две решетки и сформулировав гипотезы, мы получаем куда бОльшее количество гипотез, чем в первой части: 8 положительных и 12 отрицательных гипотез
#### Положительные гипотезы:
##### доволен И НЕ разочарован
##### НЕ тратить И советую И отзыв
##### НЕ тратить И советую И кинокритик
##### доволен И НЕ тратить
##### доволен И советую
##### НЕ разочарован И НЕ тратить
##### НЕ разочарован И советую
##### рекомендую И советую
#### Отрицательные гипотезы:
##### разочарован И НЕ рекомендую И НЕ кинокритик
##### разочарован И НЕ рекомендую И НЕ отзыв И кинофестиваль
##### НЕ рекомендую И тратить
##### НЕ доволен И НЕ рекомендую И НЕ отзыв
##### НЕ советую И НЕ кинофестиваль
##### разочарован И НЕ советую
##### НЕ доволен И НЕ отзыв И НЕ кинофестиваль
##### НЕ доволен И НЕ советую И НЕ отзыв
##### тратить И НЕ советую
##### разочарован И тратить
##### НЕ доволен И разочарован И НЕ отзыв
##### НЕ доволен И тратить И НЕ отзыв

In [8]:
example9 = pd.DataFrame({'доволен': ['+', '+', '+', '-', '-', '-', '+', '-'], 'разочарован': ['-', '-', '-', '+', '+', '-', '+', '-'], 'рекомендую': ['+', '-', '-', '-', '-', '-', '+', '-'], 'тратить': ['-', '-', '-', '+', '-', '-', '+', '-'], 'советую': ['+', '-', '-', '-', '-', '-', '+', '-'], 'отзыв': ['+', '-', '-', '-', '-', '-', '+', '+'], 'кинофестиваль': ['+', '+', '-', '-', '-', '-', '+', '+'], 'кинокритик': ['+', '+', '-', '-', '-', '-', '+', '+'], 'ВЫВОД': ['положительный', 'положительный', 'нейтральный', 'отрицательный', 'отрицательный', 'отрицательный', 'нейтральный', 'положительный']})
example9 = example9.style.set_properties(**{'font-size': '16pt'})
example9

#### Как видно из таблицы, получилось, что отзыв,  не содержащий ни одного ключевого слова, классифицировался алгоритмом как отрицательный, а отзыв, содержащий все ключевые слова, как нейтральный (то есть этот отзыв не был отнесен ни к одному из классов, так как содержит и положительные, и отрицательные гипотезы). Заметим также, что отзыв, не содержащий ни одного слова, прямо указывающего на отношение автора к фильму (например, доволен или разочарован), и содержащий все нейтральные слова (отзыв, кинофестиваль, кинокртик), был классифицирован как положительный